// ===============
// colors palette
// ===============
:root {
	//  Blue
	--blue-source: rgb(18, 72, 107);
	--blue-900: rgb(31, 58, 80);
	--blue-800: rgb(42, 78, 108);
	--blue-700: rgb(56, 98, 133);
	--blue-600: rgb(75, 118, 156);
	--blue-500: rgb(97, 138, 177);
	--blue-400: rgb(122, 159, 195);
	--blue-300: rgb(150, 180, 211);
	--blue-200: rgb(179, 201, 226);
	--blue-100: rgb(209, 222, 238);
	--blue-50: rgb(240, 244, 249);

	//  Graphite
	--graphite-source: rgb(44, 51, 51);
	--graphite-900: rgb(52, 56, 56);
	--graphite-800: rgb(70, 77, 77);
	--graphite-700: rgb(88, 96, 96);
	--graphite-600: rgb(108, 116, 116);
	--graphite-500: rgb(128, 136, 136);
	--graphite-400: rgb(149, 157, 157);
	--graphite-300: rgb(171, 178, 178);
	--graphite-200: rgb(194, 199, 199);
	--graphite-100: rgb(218, 221, 221);
	--graphite-50: rgb(243, 244, 244);

	//  Mint
	--mint-source: rgb(203, 228, 222);
	--mint-900: rgb(45, 58, 55);
	--mint-800: rgb(61, 79, 75);
	--mint-700: rgb(78, 99, 94);
	--mint-600: rgb(96, 119, 113);
	--mint-500: rgb(116, 139, 134);
	--mint-400: rgb(138, 160, 155);
	--mint-300: rgb(162, 180, 176);
	--mint-200: rgb(187, 202, 198);
	--mint-100: rgb(214, 223, 220);
	--mint-50: rgb(241, 244, 243);

	//  Teal
	--teal-source: rgb(14, 131, 136);
	--teal-900: rgb(0, 63, 66);
	--teal-800: rgb(0, 85, 89);
	--teal-700: rgb(0, 106, 111);
	--teal-600: rgb(2, 127, 132);
	--teal-500: rgb(47, 148, 152);
	--teal-400: rgb(83, 168, 172);
	--teal-300: rgb(119, 188, 191);
	--teal-200: rgb(157, 208, 210);
	--teal-100: rgb(196, 227, 228);
	--teal-50: rgb(235, 246, 246);

	--Light-Background-1: #f1f4f6;
	--Light-Background-2: #f5faf8;

	--basic-color-inputs-active-bg: #f9fafb;
	--basic-color-inputs-active-stroke: #1c64f2;
}
