//==== Text styles=============================================================================================
.title-big {
	color: var(--graphite-source);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 0.54px;
	text-transform: uppercase;
	@media (min-width: $pc) {
		font-size: 32px;
		text-transform: none;
		letter-spacing: unset;
	}
}

.label {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	align-self: stretch;
	overflow: hidden;
	color: var(--graphite-500);
	text-overflow: ellipsis;
	font-size: 10px;
	line-height: 1;
	@media (min-width: $pc) {
		font-size: 11px;
		line-height: 1.2;
		letter-spacing: 0.11px;
	}
}

.title {
	color: var(--graphite-source);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3;
	@media (min-width: $pc) {
		font-size: 23px;
		letter-spacing: 0.23px;
	}
}

.subtitle {
	color: var(--graphite-source);
	font-size: $fontSize;
	font-weight: 600;
	@media (min-width: $pc) {
		font-size: 18px;
		line-height: 1.3;
	}
}

.paragraph {
	font-size: 13px;
	@media (min-width: $pc) {
		font-size: $fontSize;
		letter-spacing: 0.14px;
	}
}
.paragraph-bold {
	font-size: 13px;
	font-weight: 600;
	@media (min-width: $pc) {
		font-size: $fontSize;
	}
}
