@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff?r3pzwv') format('woff'),
  url('../fonts/icons.svg?r3pzwv#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='_icon-']::before,
[class^='_icon-']::after,
[class*=' _icon-']::before,
[class*=' _icon-']::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._icon-ArrowDownRight:after {
  content: '\e900';
}
._icon-ArrowLeft:before {
  content: '\e901';
}
._icon-ArrowRight:before {
  content: '\e902';
}
._icon-ArrowSquareIn:after {
  content: '\e903';
}
._icon-ArrowUp:after {
  content: '\e904';
}
._icon-Bolt:before {
  content: '\e905';
}
._icon-CallChatRounded:before {
  content: '\e906';
}
._icon-Check-Square .path1:before {
  content: '\e907';
  color: rgb(44, 51, 51);
  opacity: 0.5;
}
._icon-Check-Square .path2:before {
  content: '\e908';
  margin-left: -1em;
  color: rgb(44, 51, 51);
}
._icon-Crown:before {
  content: '\e909';
}
._icon-EnvelopeSimple:before {
  content: '\e90a';
}
._icon-Euro:before {
  content: '\e90b';
}
._icon-Facebook:before {
  content: '\e90c';
}
._icon-FilePdf:before {
  content: '\e90d';
}
._icon-Forward:after {
  content: '\e90e';
}
._icon-Hamburger:after {
  content: '\e90f';
}
._icon-Hashtag-l:before {
  content: '\e910';
}
._icon-Hashtag-r:after {
  content: '\e910';
}
._icon-Home:before {
  content: '\e911';
}
._icon-Letter:before {
  content: '\e912';
}
._icon-Menu:before {
  content: '\e913';
}
._icon-Paperclip:before {
  content: '\e914';
}
._icon-Pen:before {
  content: '\e915';
}
._icon-PhoneCalling:before {
  content: '\e916';
}
._icon-PieChart:before {
  content: '\e917';
}
._icon-Plus:after {
  content: '\e918';
}
._icon-Rocket:before {
  content: '\e919';
}
._icon-Search:before {
  content: '\e91a';
}
._icon-ShareFat:before {
  content: '\e91b';
}
._icon-Sledgehammer:before {
  content: '\e91c';
}
._icon-Smile:before {
  content: '\e91d';
}
._icon-Star:before {
  content: '\e91e';
}
._icon-Twittwr:before {
  content: '\e91f';
}
._icon-UserRounded:before {
  content: '\e920';
}
._icon-Whatsapp:before {
  content: '\e921';
}
._icon-Widget:before {
  content: '\e922';
}
._icon-X:before {
  content: '\e923';
}
