//==== Feature styles=============================================================================================
.feature {
	padding: 224px 0 48px;
	@media (min-width: $pc) {
		padding: 384px 0 96px;
	}
	// .feature__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .feature__header
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}
	// .feature__title
	&__title {
		letter-spacing: 0.54px;
		text-transform: uppercase;
		@media (min-width: $pc) {
			font-size: 32px;
			text-transform: none;
		}
	}
	// .feature__text-holder
	&__text-holder {
		font-size: 11px;
		line-height: 1.2;
		letter-spacing: 0.11px;
		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.16px;
			p {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}
	}
	// .feature__content
	&__content {
	}
}

.tabs {
	@media (min-width: $pc) {
		display: flex;
		column-gap: 124px;
	}
	// .tabs__navigation
	&__navigation {
		display: flex;
		align-items: flex-start;
		column-gap: 8px;
		overflow: auto;
		margin-right: -32px;
		margin-left: -32px;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (min-width: 800px) {
			margin-right: calc(400px - 50vw);
			margin-left: calc(400px - 50vw);
		}
		@media (min-width: $pc) {
			margin-left: unset;
			margin-right: unset;
			flex-direction: column;
			overflow: unset;
			width: 100%;
			max-width: 376px;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}
	// .tabs__button
	&__button {
		width: 100%;
		max-width: 256px;
		min-width: 256px;
		position: relative;
		border-radius: 2px;
		padding: 12px 16px 12px 56px;
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		transition: background 0.4s ease 0s;
		text-align: left;
		&._tab-active {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
			.subtitle {
				color: var(--mint-500);
			}
		}
		&:first-child {
			margin-left: 32px;
			@media (min-width: 800px) {
				margin-left: calc(50vw - 400px);
			}
		}
		&:last-child {
			margin-right: 32px;
			@media (min-width: 800px) {
				margin-right: calc(50vw - 400px);
			}
		}
		@media (min-width: $pc) {
			border-radius: 4px;
			max-width: 100%;
			padding: 16.5px 24px 16.5px 88px;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
			&:first-child {
				margin-left: unset;
			}
			&:last-child {
				margin-right: unset;
			}
		}
	}
	// .tabs__icon
	&__icon {
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translateY(-50%);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: var(--mint-50);
		color: var(--mint-300);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		@media (min-width: $pc) {
			width: 48px;
			height: 48px;
			left: 24px;
			font-size: 24px;
		}
	}
	// .tabs__subtitle
	&__subtitle {
		transition: all 0.4s ease 0s;
	}
	// .tabs__content
	&__content {
		@media (min-width: $pc) {
			width: calc(100% - 376px);
		}
	}

	// .tabs__body
	&__body {
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
		@media (min-width: $pc) {
			height: 100%;
		}
	}

	@keyframes fadeEffect {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	// .tabs__inner
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 48px;
		@media (min-width: $pc) {
			height: 100%;
			row-gap: 32px;
			flex-direction: column;
		}
	}

	// .tabs__img-container
	&__img-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		min-width: 256px;
		flex: 1;
		height: 360px;
		gap: 8px;
		@media (min-width: $pc) {
			height: auto;
		}
	}
	// .tabs__image-holder
	&__image-holder {
		align-self: stretch;
		flex: 1;
		position: relative;
		border-radius: 4px;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
		overflow: hidden;
		min-width: 256px;
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: 100%;
			overflow: hidden;
			max-height: 100%;
			object-fit: cover;
			@media (min-width: $pc) {
				position: static;
				animation: bounceEffect 1s;
			}
		}
	}
	@keyframes bounceEffect {
		from {
			scale: 1.1;
		}
		to {
			scale: 1;
		}
	}
	.text-block {
		max-width: 376px;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			max-width: 100%;
			flex: none;
		}
		// .text-block__content
		&__content {
		}
	}
}

//==== Banner styles=============================================================================================
.banner {
	padding: 32px 0 48px;
	@media (min-width: $pc) {
		padding: 48px 0 96px;
	}
	// .banner__container
	&__container {
	}
	// .banner__content
	&__content {
		position: relative;
		min-height: 352px;
		border-radius: 2px;
		border: 1.5px solid rgba(218, 221, 221, 0.25);
		padding: 62px 0 46px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 16px;
		@media (min-width: $pc) {
			min-height: 176px;
			flex-direction: row;
			padding: 44px 64px;
			text-align: left;
		}
	}
	// .banner__text-holder
	&__text-holder {
		color: var(--graphite-50);
		font-size: 18px;
		font-weight: 700;
		line-height: 1.3;
		width: 100%;
		max-width: 256px;
		p {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
		@media (min-width: $pc) {
			font-size: 23px;
			letter-spacing: 0.23px;
		}
	}
	// .banner__logo
	&__logo {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 100px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .banner__bg-video
	&__bg-video {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		height: 100%;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.5;
		}
	}

	// .banner__bg-gradient
	&__bg-gradient {
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, #102325 0%, #102325 100%);
		mix-blend-mode: multiply;

		@media (min-width: $pc) {
			mix-blend-mode: color;
		}
	}

	.button {
		@media (min-width: $pc) {
		}
	}
}

//==== Offers styles=============================================================================================
.offers {
	padding: 11px 0 48px;
	position: relative;
	@media (min-width: $pc) {
		padding: 27px 0 64px;
	}
	// .offers__container
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .offers__header
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	// .offers__logo-holder
	&__logo-holder {
		width: 100%;
		max-width: 150px;
		margin-bottom: -11px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			margin-bottom: 0;
		}
	}
	// .offers__title
	&__title {
		color: var(--graphite-100);
		font-size: 18px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.54px;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media (min-width: $pc) {
			font-size: 32px;
			text-transform: none;
			letter-spacing: normal;
		}
	}
	// .offers__text-holder
	&__text-holder {
		width: 100%;
		color: var(--graphite-100);
		font-size: 11px;
		line-height: 1.2;
		letter-spacing: 0.11px;
		max-width: 530px;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.16px;
			max-width: 800px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	// .offers__content
	&__content {
	}
	// .offers__slider
	&__slider {
		overflow: visible;

		// @media (min-width: $pc) {
		// 	overflow: visible;
		// }
	}
	// .offers__wrapper
	&__wrapper {
		align-items: stretch;
	}
	// .offers__slide
	&__slide {
		height: auto;
	}
	// .offers__bg-holder
	&__bg-holder {
	}
}

.slider-offers {
	// .slider-offers__badge
	&__badge {
	}
	// .slider-offers__content
	&__content {
	}
	// .slider-offers__title
	&__title {
	}
	// .slider-offers__subtitle
	&__subtitle {
	}
	// .slider-offers__bubble
	&__bubble {
	}
	// .slider-offers__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		.swiper-button-next,
		.swiper-button-prev,
		.swiper-scrollbar {
			@media (min-width: $pc) {
				margin-top: 32px;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			color: #fff;
		}
	}
	// .slider-offers__scrollbar-wrapper
	&__scrollbar-wrapper {
		width: 100%;
		max-width: 656px;
		@media (min-width: $pc) {
			max-width: 1032px;
		}
	}

	.swiper-scrollbar {
		position: static;
		border-radius: 99px;
		width: 100%;
		background: rgba(243, 244, 244, 0.05);
	}
	.swiper-scrollbar-drag {
		border-radius: 2px;
		background: var(--graphite-600);
	}
}

.slide-offers {
	width: 100%;
	max-width: 256px;
	display: flex;
	flex-direction: column;
	@media (min-width: $pc) {
		flex-direction: row;
		max-width: 776px;
		.slide-offers__inner {
			position: relative;
			&::before {
				content: "";
				width: 38px;
				height: 38px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				left: 0;
			}
		}
	}
	//.slide-offers--green
	&--green {
		background: #485e5b;
		.slide-offers__inner {
			&::before {
				background: #485e5b;
			}
		}
	}
	//.slide-offers--brown
	&--brown {
		background: #515149;
		.slide-offers__inner {
			&::before {
				background: #515149;
			}
		}
	}
	//.slide-offers--light-brown
	&--light-brown {
		background: #6a7154;
		.slide-offers__inner {
			&::before {
				background: #6a7154;
			}
		}
	}
	// .slide-offers__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 376px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .slide-offers__inner
	&__inner {
		display: flex;
		flex-direction: column;
		padding: 16px 8px 24px;
		row-gap: 16px;
		min-height: 244px;
		height: 100%;
		@media (min-width: $pc) {
			flex: 1 0 0;
			padding: 16px 16px 24px 16px;
		}
	}

	// .slide-offers__content
	&__content {
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 8px;
		row-gap: 12px;
		@media (min-width: $pc) {
			padding: 0 32px;
		}
	}
	// .slide-offers__title
	&__title {
		color: var(--mint-50);
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0.16px;
		@media (min-width: $pc) {
			font-size: 18px;
			line-height: 1.3;
		}
	}
	// .slide-offers__text-box
	&__text-box {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	// .slide-offers__subtitle
	&__subtitle {
		color: var(--mint-50);
		font-size: 14px;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		@media (min-width: $pc) {
			font-size: 18px;
			letter-spacing: 0.54px;
		}
	}

	// .slide-offers__bubble
	&__bubble {
	}

	.badge {
		align-self: flex-end;
		// .badge--red
		&--red {
		}
	}

	.link {
		width: 100%;
		justify-content: space-between;
		@media (min-width: $pc) {
			font-size: 18px;
			line-height: 1;
			letter-spacing: 0.54px;
			&::after {
				font-size: 24px;
			}
		}
	}
}

//==== Clients styles=============================================================================================
.clients {
	padding: 48px 0;
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .clients__container
	&__container {
	}
	// .clients__logo
	&__logo {
	}
	// .clients__slider
	&__slider {
		overflow: visible;
		pointer-events: none;
		margin-left: -100vh;
		margin-right: -100vh;
		@media (min-width: $pc) {
			pointer-events: unset;
			margin-left: -50vh;
			margin-right: -50vh;
		}
	}
	// .clients__wrapper
	&__wrapper {
	}
	// .clients__slide
	&__slide {
		border-radius: 2px;
		background: #fff;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		padding: 25.5px;
		width: 100%;
		max-width: 176px;
		min-height: 176px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			transition: all 0.4s ease 0s;
			filter: grayscale(100%);
			opacity: 0.6;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					filter: grayscale(0%);
					opacity: 1;
				}
			}
		}
	}
}

//==== CTA styles=============================================================================================
.cta {
	padding: 32px 0;
	// .cta__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 48px;
		@media (min-width: $pc) {
			column-gap: 124px;
		}
	}
	// .cta__left-col
	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		@media (min-width: $pc) {
			row-gap: 24px;
			flex: none;
			max-width: 576px;
			width: 100%;
		}
	}
	// .cta__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		row-gap: 8px;
		position: relative;
		@media (min-width: $pc) {
			width: calc(100% - 576px);
		}
	}
	// .cta__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.button {
		// .button--s
		&--s {
			@media (min-width: $pc) {
				font-size: 16px;
				letter-spacing: 0.32px;
				padding: 16px 24px;
			}
		}
	}

	.message {
		@media (min-width: $pc) {
			position: absolute;
			top: 48px;
			right: 300px;
			max-width: 276px;
		}
		// .message__text-holder
		&__text-holder {
		}
		// .message__footer
		&__footer {
		}
		// .message__author
		&__author {
		}
		// .message__logo
		&__logo {
		}
	}
}

//==== FAQ styles=============================================================================================
.faq {
	padding: 32px 0 48px;
	@media (min-width: $pc) {
		padding: 32px 0 96px;
	}
	// .faq__container
	&__container {
	}
}

//==== Reviews styles=============================================================================================
.reviews {
	padding: 48px 0;
	background: var(--Light-Background-2);
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .reviews__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .reviews__header
	&__header {
		text-align: center;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__content
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}
	// .reviews__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		@media (min-width: $pc) {
			gap: 24px;
		}
	}
	// .reviews__item
	&__item {
		min-width: 256px;
		flex: 1 0 0;
		padding: 16px;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		border-radius: 2px;
		transition: background 0.4s ease 0s;
		outline: none;
		@media (min-width: $pc) {
			padding: 32px;
		}
		&:active {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
		}
		@media (min-width: $pc) {
			border-radius: 4px;
			width: 100%;
			max-width: 376px;
			flex: none;
			@media (any-hover: hover) {
				&:hover {
					background: #fff;
					box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}
	.button {
		align-self: center;
	}
}

.item-reviews {
	// .item-reviews__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 6;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// .item-reviews__name
	&__name {
	}
	// .item-reviews__link
	&__link {
		width: fit-content;
	}
}

.name-box {
	display: flex;
	align-items: center;
	gap: 8px;
	@media (min-width: $pc) {
		gap: 16px;
	}
	// .name-box__left-col
	&__left-col {
	}
	// .name-box__image-holder
	&__image-holder {
		width: 32px;
		height: 32px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
		@media (min-width: $pc) {
			width: 48px;
			height: 48px;
		}
		&--logo {
			width: 50px;
			border-radius: 666px;
			background: var(--graphite-50);
			box-shadow: 0px 0px 1.333px 0px rgba(0, 0, 0, 0.15);
			padding: 0 9px;
			@media (min-width: $pc) {
				width: 76px;
				border-radius: 999px;
				box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
			}
		}
	}
	// .name-box__right-col
	&__right-col {
	}
	// .name-box__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

//==== Media styles=============================================================================================
.media {
	padding: 48px 0;
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .media__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .media__header
	&__header {
	}
	// .media__content
	&__content {
	}
	// .media__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		@media (min-width: $pc) {
			column-gap: 24px;
		}
	}
	// .media__item
	&__item {
	}
	.text-block {
		@media (min-width: $pc) {
			max-width: 724px;
		}
		// .text-block__content
		&__content {
			@media (min-width: $pc) {
			}
		}
	}
}

.item-media {
	flex: 1 0 0;
	@include adaptiveValue("min-width", 392, 256, 0, 1279, 592);
	padding: 8px;
	display: flex;
	gap: 12px;
	border-radius: 2px;
	transition: background 0.4s ease 0s;
	@media (min-width: $pc) {
		border-radius: 4px;
		min-width: unset;
		flex: none;
		width: calc(50% - 12px);
		gap: 24px;
		padding: 16px;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
			.item-media__left-col {
				background: var(--Light-Background-1);
			}
		}
	}

	&:active {
		background: #fff;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
		.item-media__left-col {
			background: var(--Light-Background-1);
		}
	}

	// .item-media__left-col
	&__left-col {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		border-radius: 2px;
		transition: background 0.4s ease 0s;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 176px;
			padding: 13px;
			min-height: 108px;
		}
	}
	// .item-media__image-holder
	&__image-holder {
		display: flex;
		@media (min-width: $pc) {
			width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .item-media__right-col
	&__right-col {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@media (min-width: $pc) {
			row-gap: 16px;
			flex: 1 0 0;
		}
	}
	// .item-media__header
	&__header {
		display: flex;
		align-items: center;
	}
	// .item-media__date
	&__date {
		color: var(--graphite-500);
		font-size: 10px;
		line-height: 1;
		flex: 1 0 0;
		display: flex;
		align-items: center;
		span {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			align-self: stretch;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	// .item-media__badge
	&__badge {
	}
	// .item-media__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		color: var(--graphite-source);
		text-overflow: ellipsis;
		// font-size: 13px;
		// font-weight: 600;
	}
	// .item-media__link
	&__link {
		width: fit-content;
	}
}

//==== Completed styles=============================================================================================
.completed {
	padding: 48px 0;
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .completed__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .completed__header
	&__header {
	}
	// .completed__content
	&__content {
	}
	// .completed__slider
	&__slider {
		overflow: visible;
	}
	// .completed__wrapper
	&__wrapper {
	}
	// .completed__slide
	&__slide {
	}

	.button {
		display: flex;
		margin: 16px auto 0;
		@media (min-width: $pc) {
			margin: 32px auto 0;
		}
	}

	.text-block {
		// .text-block__content
		&__content {
			@media (min-width: $pc) {
				row-gap: 8px;
			}
		}
	}
}

.slider-completed {
	// .slider-completed__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		.swiper-button-next,
		.swiper-button-prev,
		.swiper-scrollbar {
			margin-top: 16px;
			@media (min-width: $pc) {
				margin-top: 32px;
			}
		}
	}
	// .slider-completed__scrollbar-wrapper
	&__scrollbar-wrapper {
		width: 100%;
		max-width: 656px;
		@media (min-width: $pc) {
			max-width: 1032px;
		}
	}

	.swiper-scrollbar {
		position: static;
		border-radius: 99px;
		width: 100%;
		background: rgba(44, 51, 51, 0.05);
	}
	.swiper-scrollbar-drag {
		border-radius: 2px;
		background: var(--graphite-600);
	}
}

.slide-completed {
	width: 100%;
	max-width: 294px;
	padding: 8px;
	transition: all 0.4s ease 0s;
	display: block;
	margin-right: 16px;
	@media (min-width: $pc) {
		max-width: 376px;
		margin-right: 24px;
		padding: 16px;
	}
	// .slide-completed__inner
	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@media (min-width: $pc) {
			row-gap: 16px;
		}
	}
	// .slide-completed__badge
	&__badge {
		cursor: default;
		pointer-events: none;
	}
	// .slide-completed__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--graphite-source);
	}
	// .slide-completed__link
	&__link {
	}
}

//==== test styles=============================================================================================
// .test {
// 	.container {
// 		max-width: 256px;
// 	}
// }
// .test-slider {
// 	display: flex;
// 	flex-direction: column;
// 	.swiper-pagination {
// 		position: static;
// 		display: flex;
// 	}
// 	.swiper-pagination-bullet {
// 		width: 33.333%;
// 		height: 4px;
// 		margin: 0 4px;
// 		font-size: 0;
// 		background-color: red;
// 		position: relative;
// 	}
// 	.swiper-pagination-bullet-active {
// 		width: 33.333%;
// 	}

// 	.swiper-pagination-bullet::before {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		width: 0%; /* начальная ширина */
// 		height: 100%; /* полная высота */
// 		background-color: #000; /* черный цвет фона */
// 		transition: width 0.5s ease; /* плавное увеличение ширины */
// 	}

// 	.swiper-pagination-bullet-active::before {
// 		position: absolute;
// 		width: 100%; /* полная ширина для заполнения */
// 		animation: fillBullet 4s forwards;
// 	}
// }

// @keyframes fillBullet {
// 	from {
// 		width: 0%;
// 		background-color: transparent;
// 	}
// 	to {
// 		width: 100%;
// 		background-color: #000;
// 	}
// }
