//==== Hero styles=============================================================================================
.hero {
	position: relative;
	padding: 58px 0 192px;
	@media (min-width: $pc) {
		padding: 0;
		// margin-top: 80px;
	}

	#video-mask {
		width: 180px;
		height: 160px;
		mask-image: url("../img/hero-art-logo.svg");
		mask-mode: alpha;
		mask-size: contain;
		mask-repeat: no-repeat;
		@media (min-width: $pc) {
			width: 393px;
			height: 332px;
		}
	}
	// .hero__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 48px;
		position: relative;
		z-index: 2;
		@media (min-width: $pc) {
			max-width: 100%;
			padding: 0;
			gap: 0;
			align-items: unset;
		}
	}
	// .hero__left-col
	&__left-col {
		text-align: center;
		flex: 1 0 0;
		min-width: 256px;
		@media (min-width: $pc) {
			display: flex;
			justify-content: flex-end;
			padding-right: 112px;
			padding-top: 182px;
			text-align: left;
			// width: 100%;
			// max-width: 984px;
			flex: none;
			width: 50%;
		}
		// @media (min-width: 1921px) {
		// 	width: 51.75%;
		// }
	}
	// .hero__logo
	&__logo {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (min-width: $pc) {
			position: absolute;
			z-index: 3;
			top: 171px;
			left: 50.69%;
			transform: translateX(-50%);
			&:not(:last-child) {
				margin-bottom: 0px;
			}
		}
	}

	// .hero__content
	&__content {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 476px;
		}
	}

	// .hero__text-box
	&__text-box {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (min-width: $pc) {
			row-gap: 32px;
			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}
	}

	// .hero__title
	&__title {
		color: var(--graphite-50);
		font-size: 32px;
		font-weight: 800;
		line-height: 1.1;
		letter-spacing: 0.64px;
		@media (min-width: $pc) {
			font-size: 52px;
			letter-spacing: 1.04px;
		}
	}
	// .hero__text-holder
	&__text-holder {
		color: var(--teal-100);
		font-size: 16px;
		letter-spacing: 0.48px;
		span {
			font-style: italic;
			font-weight: 700;
		}
		@media (min-width: $pc) {
			font-size: 24px;
			letter-spacing: 0.72px;
		}
	}
	// .hero__right-col
	&__right-col {
		flex: 1 0 0;
		min-width: 256px;
		@media (min-width: $pc) {
			// width: 100%;
			// max-width: 936px;
			flex: none;
			width: 50%;
		}
		// @media (min-width: 1921px) {
		// 	width: 48.75%;
		// }
	}
	// .hero__slider
	&__slider {
		// height: 100%;
		transition: background-image 0.4s ease-in-out;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		border-radius: 2px;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, #000 -15%, rgba(0, 0, 0, 0) 115%);
		}
		@media (min-width: $pc) {
			border-radius: 0px;
		}
		&.not-slider {
			.slide-hero {
				padding-bottom: 56px;
				min-height: 488px;
			}
		}
	}
	// .hero__wrapper
	&__wrapper {
	}
	// .hero__slide
	&__slide {
	}
	// .hero__nav
	&__nav {
		display: flex;
		align-items: center;
		padding: 0 16px;
		.swiper-pagination {
			position: static;
			bottom: unset;
			top: unset;
			&-bullet {
				background: var(--mint-50);
				opacity: 0.2;
			}
			.swiper-pagination-bullet-active {
				background: var(--mint-50);
				opacity: 1;
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			color: var(--graphite-50);
		}
		@media (min-width: $pc) {
			padding: 0;
			position: absolute;
			width: 100%;
			max-width: 376px;
			top: 504px;
			left: 186px;
			.swiper-pagination {
				.swiper-pagination-bullet {
					width: 10px;
					height: 10px;
					margin: 0 6px;
				}
			}
		}
	}
}

.slide-hero {
	min-height: 432px;
	display: flex;
	align-items: flex-end;
	padding: 0 16px;
	@media (min-width: $pc) {
		min-height: 845px;
		align-items: flex-start;
		padding: 125px 0 0 186px;
	}
	// .slide-hero__inner
	&__inner {
		border-radius: 2px;
		background: var(--mint-50);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
		padding: 24px 16px 16px;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		@media (min-width: $pc) {
			max-width: 376px;
			padding: 48px 32px;
			border-radius: 4px;
		}
	}
	// .slide-hero__header
	&__header {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
	// .slide-hero__content
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@media (min-width: $pc) {
			row-gap: 16px;
		}
	}
	// .slide-hero__date
	&__date {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		color: var(--graphite-500);
		text-overflow: ellipsis;
		font-size: 10px;
		line-height: 1;
		@media (min-width: $pc) {
			font-size: 11px;
			line-height: 1.2;
			letter-spacing: 0.11px;
		}
	}
	// .slide-hero__title
	&__title {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		color: var(--graphite-source);
		font-size: 18px;
		font-weight: 700;
		line-height: 1.3;
		@media (min-width: $pc) {
			font-size: 23px;
			letter-spacing: 0.23px;
		}
	}
	// .slide-hero__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		align-self: stretch;
		overflow: hidden;
		color: var(--graphite-800);
		text-overflow: ellipsis;
		font-size: 13px;
		@media (min-width: $pc) {
			font-size: 14px;
			letter-spacing: 0.14px;
		}
	}
}

//==== Carousel styles=============================================================================================
.carousel {
	margin-top: -144px;
	position: relative;
	z-index: 3;
	@media (min-width: $pc) {
		margin-top: -154px;
	}
	// .carousel__container
	&__container {
		max-width: 1280px;
	}
	// .carousel__content
	&__content {
	}
	// .carousel__slider
	&__slider {
		overflow: visible;
	}
	// .carousel__wrapper
	&__wrapper {
	}
	// .carousel__slide
	&__slide {
	}
}

.slider-carousel {
	// .slider-carousel__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		max-width: 800px;
		margin: 0 -32px;
		@media (min-width: 375px) {
			margin: 0 auto;
		}
		@media (min-width: $pc) {
			margin: unset;
			max-width: 100%;
		}
		.swiper-button-next,
		.swiper-button-prev,
		.swiper-scrollbar {
			@media (min-width: $pc) {
				margin-top: 24px;
			}
		}
	}
	// .slider-carousel__scrollbar-wrapper
	&__scrollbar-wrapper {
		width: 100%;
		max-width: 656px;
		@media (min-width: $pc) {
			max-width: 1032px;
		}
	}
	.swiper-scrollbar {
		position: static;
		border-radius: 99px;
		width: 100%;
		background: rgba(44, 51, 51, 0.05);
	}
	.swiper-scrollbar-drag {
		border-radius: 2px;
		background: var(--graphite-600);
	}
}

.slide-carousel {
	width: 100%;
	max-width: 256px;
	position: relative;
	border-radius: 2px;
	box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.4);
	@media (min-width: $pc) {
		border-radius: 4px;
		max-width: 376px;
	}
	// .slide-carousel__inner
	&__inner {
		min-height: 256px;
		padding: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		@media (min-width: $pc) {
			min-height: 376px;
			padding: 32px;
		}
	}
	// .slide-carousel__header
	&__header {
	}
	// .slide-carousel__badge-rounded
	&__badge-rounded {
	}
	// .slide-carousel__content
	&__content {
		display: flex;
		flex-direction: column;
	}
	// .slide-carousel--gradient
	&--gradient {
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, #000 -15%, rgba(0, 0, 0, 0) 115%);
			z-index: -1;
			border-radius: 2px;
			@media (min-width: $pc) {
				border-radius: 4px;
			}
		}
	}
	// .slide-carousel--green
	&--green {
		background: var(--mint-700);
	}
	// .slide-carousel--blue
	&--blue {
		background: var(--blue-800);
	}
	// .slide-carousel__announcement
	&__announcement {
		color: var(--graphite-50);
		font-size: 11px;
		line-height: 1.2;
		letter-spacing: 0.11px;
		max-width: 176px;
		width: 100%;
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.16px;
		}
	}
	// .slide-carousel__update
	&__update {
		color: var(--mint-300);
		font-size: 11px;
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.22px;
		text-transform: uppercase;
		align-self: flex-end;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (min-width: $pc) {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
	// .slide-carousel__card
	&__card {
		&:last-child {
			display: none;
		}
		@media (min-width: $pc) {
			&:last-child {
				display: flex;
			}
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
	// .slide-carousel__text-holder
	&__text-holder {
		color: var(--blue-200);
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	// .slide-carousel__bg-holder
	&__bg-holder {
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 2px;
			@media (min-width: $pc) {
				border-radius: 4px;
			}
		}
	}
	.link {
		width: 100%;
		justify-content: space-between;
		@media (min-width: $pc) {
			font-size: 18px;
			line-height: 1;
			letter-spacing: 0.54px;
			&::after {
				font-size: 24px;
			}
		}
	}

	// .slide-carousel__phone,.slide-carousel__mail
	&__phone,
	&__mail {
		&.link {
			font-family: $fontFamily;
			color: var(--blue-100);
			font-weight: 600;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
			@media (min-width: $pc) {
				font-size: 18px;
				font-weight: 600;
				line-height: 1.3;
				letter-spacing: unset;
			}
		}
	}
}

.slider-carousel-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 2px;
	@media (min-width: $pc) {
		border-radius: 4px;
	}
	.swiper-pagination {
		display: flex;
		align-items: center;
		column-gap: 4px;
		padding: 0 16px;
		bottom: 6px;
		top: unset;
		.swiper-pagination-bullet {
			flex: 1 0 0;
			height: 4px;
			border-radius: 2px;
			background: rgba(255, 255, 255, 0.2);
			opacity: 1;
			margin: 0;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 0%;
				height: 100%;
				background: rgba(255, 255, 255, 0.2);
				border-radius: 2px;
			}
		}
		.swiper-pagination-bullet-active {
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				background: #fff;
				border-radius: 2px;
				animation: fillBullet 4s;
				animation-timing-function: ease-in-out;
			}
		}
	}
}

@keyframes fillBullet {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.slide-carousel-inner {
	&--gradient {
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, #000 -15%, rgba(0, 0, 0, 0) 115%);
			z-index: 1;
			border-radius: 2px;
			@media (min-width: $pc) {
				border-radius: 4px;
			}
		}
	}

	// .slide-carousel-inner__image-holder
	&__image-holder {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//==== Feature styles=============================================================================================
.feature {
	padding: 53px 0 48px;
	@media (min-width: $pc) {
		padding: 81px 0 96px;
	}
	// .feature__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .feature__header
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}
	// .feature__title
	&__title {
		letter-spacing: 0.54px;
		text-transform: uppercase;
		@media (min-width: $pc) {
			font-size: 32px;
			text-transform: none;
		}
	}
	// .feature__text-holder
	&__text-holder {
		font-size: 11px;
		line-height: 1.2;
		letter-spacing: 0.11px;
		p {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		@media (min-width: $pc) {
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.16px;
			p {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}
	}
	// .feature__content
	&__content {
	}
}

.tabs {
	@media (min-width: $pc) {
		display: flex;
		column-gap: 124px;
	}
	// .tabs__navigation
	&__navigation {
		display: flex;
		align-items: flex-start;
		column-gap: 8px;
		overflow: auto;
		margin-right: -32px;
		margin-left: -32px;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (min-width: 800px) {
			margin-right: calc(400px - 50vw);
			margin-left: calc(400px - 50vw);
		}
		@media (min-width: $pc) {
			margin-left: unset;
			margin-right: unset;
			flex-direction: column;
			overflow: unset;
			width: 100%;
			max-width: 376px;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}
	// .tabs__button
	&__button {
		width: 100%;
		max-width: 256px;
		min-width: 256px;
		position: relative;
		border-radius: 2px;
		padding: 12px 16px 12px 56px;
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		transition: background 0.4s ease 0s;
		text-align: left;
		&._tab-active {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
			.subtitle {
				color: var(--mint-500);
			}
		}
		&:first-child {
			margin-left: 32px;
			@media (min-width: 800px) {
				margin-left: calc(50vw - 400px);
			}
		}
		&:last-child {
			margin-right: 32px;
			@media (min-width: 800px) {
				margin-right: calc(50vw - 400px);
			}
		}
		@media (min-width: $pc) {
			border-radius: 4px;
			max-width: 100%;
			padding: 16.5px 24px 16.5px 88px;
			&:not(:last-child) {
				margin-bottom: 8px;
			}
			&:first-child {
				margin-left: unset;
			}
			&:last-child {
				margin-right: unset;
			}
		}
	}
	// .tabs__icon
	&__icon {
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translateY(-50%);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: var(--mint-50);
		color: var(--mint-300);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		@media (min-width: $pc) {
			width: 48px;
			height: 48px;
			top: 16px;
			transform: translateY(0);
			left: 24px;
			font-size: 24px;
		}
	}
	// .tabs__subtitle
	&__subtitle {
		transition: all 0.4s ease 0s;
	}
	// .tabs__content
	&__content {
		@media (min-width: $pc) {
			width: calc(100% - 376px);
		}
	}

	// .tabs__body
	&__body {
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
		@media (min-width: $pc) {
			height: 100%;
		}
	}

	@keyframes fadeEffect {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	// .tabs__inner
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 48px;
		@media (min-width: $pc) {
			height: 100%;
			row-gap: 32px;
			flex-direction: column;
		}
	}

	// .tabs__img-container
	&__img-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		min-width: 256px;
		flex: 1;
		height: 360px;
		gap: 8px;
		@media (min-width: $pc) {
			height: auto;
			width: 100%;
		}
	}
	// .tabs__image-holder
	&__image-holder {
		align-self: stretch;
		flex: 1;
		position: relative;
		border-radius: 4px;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
		overflow: hidden;
		min-width: 256px;
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: 100%;
			overflow: hidden;
			max-height: 100%;
			object-fit: cover;
			@media (min-width: $pc) {
				position: static;
				animation: bounceEffect 1s;
			}
		}
		@media (min-width: $pc) {
			height: 381px;
		}
	}
	@keyframes bounceEffect {
		from {
			scale: 1.1;
		}
		to {
			scale: 1;
		}
	}
	.text-block {
		max-width: 376px;
		min-width: 256px;
		flex: 1 0 0;
		@media (min-width: $pc) {
			max-width: 100%;
			flex: none;
		}
		// .text-block__content
		&__content {
		}
	}
}

//==== Banner styles=============================================================================================
.banner {
	padding: 29px 0 48px;
	@media (min-width: $pc) {
		padding: 48px 0 96px;
	}
	// .banner__container
	&__container {
	}
	// .banner__content
	&__content {
		position: relative;
		min-height: 352px;
		border-radius: 2px;
		border: 1.5px solid rgba(218, 221, 221, 0.25);
		padding: 62px 0 46px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 16px;
		@media (min-width: $pc) {
			min-height: 176px;
			flex-direction: row;
			padding: 44px 64px;
			text-align: left;
		}
	}
	// .banner__text-holder
	&__text-holder {
		color: var(--graphite-50);
		font-size: 18px;
		font-weight: 700;
		line-height: 1.3;
		width: 100%;
		max-width: 256px;
		p {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
		@media (min-width: $pc) {
			font-size: 23px;
			letter-spacing: 0.23px;
		}
	}
	// .banner__logo
	&__logo {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 100px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .banner__bg-video
	&__bg-video {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		height: 100%;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.5;
		}
	}

	// .banner__bg-gradient
	&__bg-gradient {
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, #102325 0%, #102325 100%);
		mix-blend-mode: multiply;

		@media (min-width: $pc) {
			mix-blend-mode: color;
		}
	}

	.button {
		@media (min-width: $pc) {
		}
	}
}

//==== News styles=============================================================================================
.news {
	background: var(--Light-Background-2);
	padding: 48px 0;
	@media (min-width: $pc) {
		padding: 93px 0 96px;
	}
	// .news__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .news__header
	&__header {
		@media (min-width: $pc) {
			padding: 0 42.5px;
		}
	}
	// .news__content
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		.button {
			align-self: center;
		}
		@media (min-width: $pc) {
			row-gap: 32px;
		}
	}
	// .news__items
	&__items {
	}
	// .news__item
	&__item {
	}
	.button.button--m {
		@media (max-width: 1279px) {
			column-gap: 4px;
			font-size: 14px;
			line-height: 1;
			letter-spacing: 0.42px;
			padding: 9px 16px;
		}
	}
	.text-block {
		padding-left: 24px;
	}
}

.news-items {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	row-gap: 24px;
	@media (min-width: $pc) {
		gap: 24px;
	}
	.item-news {
		border-radius: 2px;
		flex: 1 0 0;
		min-width: 256px;
		position: relative;
		padding: 16px 16px 24px 16px;
		min-height: 488px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		&--graphite {
			background: var(--graphite-source);
		}
		@media (any-hover: hover) {
			&:hover {
				.item-news__bg-holder {
					opacity: 0.5;
					img {
						transform: scale(1.1);
						opacity: 0.5;
					}
				}
				.badge {
					cursor: default;
				}
			}
		}
		@media (min-width: $pc) {
			min-height: 548px;
			border-radius: 4px;
			padding: 24px 32px 32px;
			flex: none;
			width: 100%;
			max-width: 376px;
		}

		// .item-news__header
		&__header {
			display: flex;
			column-gap: 8px;
			justify-content: flex-end;
			position: relative;
			z-index: 3;
			pointer-events: none;
		}
		// .item-news__content
		&__content {
			display: flex;
			flex-direction: column;
			row-gap: 16px;
			z-index: 3;
		}
		// .item-news__text-box
		&__text-box {
			display: flex;
			flex-direction: column;
			row-gap: 8px;
			@media (min-width: $pc) {
				position: absolute;
				bottom: 72px;
				left: 32px;
				width: 100%;
				max-width: 312px;
				row-gap: 16px;
			}
		}
		// .item-news__date
		&__date {
			color: var(--graphite-50);
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			align-self: stretch;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 10px;
			line-height: 1;
		}
		// .item-news__subtitle
		&__subtitle {
			color: var(--graphite-50);
		}
		// .item-news__text-holder
		&__text-holder {
			color: var(--graphite-50);
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			align-self: stretch;
			overflow: hidden;
			text-overflow: ellipsis;
			@media (min-width: $pc) {
				-webkit-line-clamp: unset;
				max-height: 80px;
				transition: max-height 0.35s ease;
			}
		}
		// .item-news__bg-holder
		&__bg-holder {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			transition: opacity 0.4s ease 0s;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 2;
				background: linear-gradient(0deg, #000 -15%, rgba(0, 0, 0, 0) 115%);
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 2px;
				transition:
					transform 0.4s ease 0s,
					opacity 0.4s ease 0s;
			}
		}
		// .item-news__left-col
		&__left-col {
		}
		// .item-news__image-holder
		&__image-holder {
		}
		// .item-news__right-col
		&__right-col {
		}
	}

	// .news-items__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		@media (min-width: $pc) {
			gap: 16px;
		}
		.item-news {
			display: flex;
			gap: 12px;
			padding: 8px;
			position: relative;
			border-radius: 2px;
			flex: 1 0 0;
			min-width: 256px;
			min-height: auto;
			flex-direction: row;
			transition: background 0.4s ease 0s;
			@media (min-width: $pc) {
				min-height: auto;
				gap: 24px;
				padding: 16px;
				border-radius: 4px;
			}
			@media (any-hover: hover) {
				&:hover {
					background: #fff;
					box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
				}
			}
			// .item-news__badge-line
			&__badge-line {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 8px;
				@media (min-width: $pc) {
				}
			}
			//.item-news--video
			&--video {
				min-height: 176px;
				flex-direction: column;
				justify-content: space-between;
				@media (any-hover: hover) {
					&:hover {
						background: var(--graphite-source);
						box-shadow: unset;
						.item-news__bg-holder {
							opacity: 0.5;
							video {
								opacity: 0.5;
								transform: scale(1.3);
							}
						}
					}
				}
				.item-news__bg-holder {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					transition: opacity 0.4s ease 0s;
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient(0deg, #000 -15%, rgba(0, 0, 0, 0) 115%);
					}
					video {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 2px;
						transition:
							transform 0.4s ease 0s,
							opacity 0.4s ease 0s;
					}
				}
				.item-news__subtitle {
					color: var(--graphite-50);
					-webkit-line-clamp: 4;
				}
				.item-news__date {
					color: var(--graphite-50);
				}
				.item-news__header {
					align-items: center;
				}

				.header-news-item {
					// .header-news-item__left-col
					&__left-col {
						flex: 1 0 0;
					}
					// .header-news-item__right-col
					&__right-col {
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-end;
						flex: 1 0 0;
						gap: 8px;
					}
				}
			}
			// .item-news__header
			&__header {
				position: relative;
				z-index: 3;
				justify-content: flex-start;
			}
			// .item-news__content
			&__content {
				position: relative;
				z-index: 3;
				display: flex;
				flex-direction: column;
				row-gap: 8px;
				@media (min-width: $pc) {
					row-gap: 16px;
				}
			}
			// .item-news__text-box
			&__text-box {
			}
			// .item-news__date
			&__date {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				align-self: stretch;
				overflow: hidden;
				color: var(--graphite-500);
				text-overflow: ellipsis;
				font-size: 10px;
				line-height: 1;
				display: flex;
				align-items: center;
				@media (min-width: $pc) {
					overflow: hidden;
					font-size: 11px;
					line-height: 1.2;
					letter-spacing: 0.11px;
				}
			}
			// .item-news__subtitle
			&__subtitle {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				align-self: stretch;
				overflow: hidden;
				text-overflow: ellipsis;
				color: var(--graphite-source);
			}
			// .item-news__text-holder
			&__text-holder {
			}
			// .item-news__bg-holder
			&__bg-holder {
			}
			// .item-news__left-col
			&__left-col {
			}
			// .item-news__image-holder
			&__image-holder {
				img {
					border-radius: 2px;
				}
				@media (min-width: $pc) {
					width: 76px;
					height: 76px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 4px;
					}
				}
			}
			// .item-news__right-col
			&__right-col {
			}
		}
	}
}

//==== Projects styles=============================================================================================
.projects {
	padding: 48px 0 47px;
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .projects__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .projects__header
	&__header {
		@media (min-width: $pc) {
			padding: 0 24px;
		}
	}
	// .projects__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 24px;
		@media (min-width: $pc) {
			row-gap: 32px;
		}
	}
	// .projects__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		@media (min-width: $pc) {
			gap: 24px;
		}
	}
	// .projects__item
	&__item {
	}
	.text-block {
		@media (min-width: $pc) {
			padding-left: 24px;
		}
		// .text-block__content
		&__content {
			@media (min-width: $pc) {
				row-gap: 8px;
			}
		}
	}
}

.project-item {
	min-width: 256px;
	flex: 1 0 0;
	padding: 32px 24px 16px 16px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	border-radius: 2px;
	transition: background 0.4s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);

			.project-item__subtitle {
				color: var(--teal-500);
			}
		}
	}
	@media (min-width: $pc) {
		border-radius: 4px;
		flex: none;
		width: 100%;
		max-width: 376px;
		padding: 32px;
	}
	//.project-item--image
	&--image {
		padding: 0;
	}
	// .project-item__image-holder
	&__image-holder {
		height: 234px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			height: 272px;
		}
	}
	// .project-item__header
	&__header {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
	// .project-item__badge
	&__badge {
	}
	// .project-item__content
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@media (min-width: $pc) {
			row-gap: 16px;
		}
	}
	// .project-item__subtitle
	&__subtitle {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: color 0.4s ease 0s;
	}
	// .project-item__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

//==== Offers styles=============================================================================================
.offers {
	padding: 11px 0 48px;
	position: relative;
	@media (min-width: $pc) {
		padding: 22px 0 64px;
	}
	// .offers__container
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .offers__header
	&__header {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	// .offers__logo-holder
	&__logo-holder {
		width: 100%;
		max-width: 150px;
		margin-bottom: -11px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $pc) {
			margin-bottom: 0;
		}
	}
	// .offers__title
	&__title {
		color: var(--graphite-100);
		font-size: 18px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.54px;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@media (min-width: $pc) {
			font-size: 32px;
			text-transform: none;
			letter-spacing: normal;
		}
	}
	// .offers__text-holder
	&__text-holder {
		width: 100%;
		color: var(--graphite-100);
		font-size: 11px;
		line-height: 1.2;
		letter-spacing: 0.11px;
		max-width: 530px;
		padding: 0 24px;
		&:not(:last-child) {
			margin-bottom: 6px;
		}
		@media (min-width: $pc) {
			padding: 0;
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.16px;
			max-width: 800px;
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
	// .offers__content
	&__content {
	}
	// .offers__slider
	&__slider {
		overflow: visible;

		// @media (min-width: $pc) {
		// 	overflow: visible;
		// }
	}
	// .offers__wrapper
	&__wrapper {
		align-items: stretch;
	}
	// .offers__slide
	&__slide {
		height: auto;
	}
	// .offers__bg-holder
	&__bg-holder {
	}
}

.slider-offers {
	// .slider-offers__badge
	&__badge {
	}
	// .slider-offers__content
	&__content {
	}
	// .slider-offers__title
	&__title {
	}
	// .slider-offers__subtitle
	&__subtitle {
	}
	// .slider-offers__bubble
	&__bubble {
	}
	// .slider-offers__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		.swiper-button-next,
		.swiper-button-prev,
		.swiper-scrollbar {
			@media (min-width: $pc) {
				margin-top: 32px;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			color: #fff;
		}
	}
	// .slider-offers__scrollbar-wrapper
	&__scrollbar-wrapper {
		width: 100%;
		max-width: 656px;
		@media (min-width: $pc) {
			max-width: 1032px;
		}
	}

	.swiper-scrollbar {
		position: static;
		border-radius: 99px;
		width: 100%;
		background: rgba(243, 244, 244, 0.05);
	}
	.swiper-scrollbar-drag {
		border-radius: 2px;
		background: var(--graphite-600);
	}
}

.slide-offers {
	width: 100%;
	max-width: 256px;
	display: flex;
	flex-direction: column;
	@media (min-width: $pc) {
		flex-direction: row;
		max-width: 776px;
		.slide-offers__inner {
			position: relative;
			&::before {
				content: "";
				width: 38px;
				height: 38px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				left: 0;
			}
		}
	}
	//.slide-offers--green
	&--green {
		background: #485e5b;
		.slide-offers__inner {
			&::before {
				background: #485e5b;
			}
		}
	}
	//.slide-offers--brown
	&--brown {
		background: #515149;
		.slide-offers__inner {
			&::before {
				background: #515149;
			}
		}
	}
	//.slide-offers--light-brown
	&--light-brown {
		background: #6a7154;
		.slide-offers__inner {
			&::before {
				background: #6a7154;
			}
		}
	}
	// .slide-offers__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			width: 100%;
			max-width: 376px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	// .slide-offers__inner
	&__inner {
		display: flex;
		flex-direction: column;
		padding: 16px 8px 24px;
		row-gap: 16px;
		min-height: 244px;
		height: 100%;
		@media (min-width: $pc) {
			flex: 1 0 0;
			padding: 16px 16px 24px 16px;
		}
	}

	// .slide-offers__content
	&__content {
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 8px;
		row-gap: 12px;
		@media (min-width: $pc) {
			padding: 0 32px;
		}
	}
	// .slide-offers__title
	&__title {
		color: var(--mint-50);
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0.16px;
		@media (min-width: $pc) {
			font-size: 18px;
			line-height: 1.3;
		}
	}
	// .slide-offers__text-box
	&__text-box {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	// .slide-offers__subtitle
	&__subtitle {
		color: var(--mint-50);
		font-size: 14px;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		@media (min-width: $pc) {
			font-size: 18px;
			letter-spacing: 0.54px;
		}
	}

	// .slide-offers__bubble
	&__bubble {
	}

	.badge {
		align-self: flex-end;
		// .badge--red
		&--red {
		}
	}

	.link {
		width: 100%;
		justify-content: space-between;
		@media (min-width: $pc) {
			font-size: 18px;
			line-height: 1;
			letter-spacing: 0.54px;
			&::after {
				font-size: 24px;
			}
		}
	}
}

//==== Clients styles=============================================================================================
.clients {
	padding: 48px 0;
	@media (min-width: $pc) {
		padding: 128px 0;
	}
	// .clients__container
	&__container {
	}
	// .clients__logo
	&__logo {
	}
	// .clients__slider
	&__slider {
		overflow: visible;
		pointer-events: none;
		margin-left: -100vh;
		margin-right: -100vh;
		@media (min-width: $pc) {
			pointer-events: unset;
			margin-left: -50vh;
			margin-right: -50vh;
		}
	}
	// .clients__wrapper
	&__wrapper {
	}
	// .clients__slide
	&__slide {
		border-radius: 2px;
		background: #fff;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
		padding: 25.5px;
		width: 100%;
		max-width: 176px;
		min-height: 176px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			transition: all 0.4s ease 0s;
			filter: grayscale(100%);
			opacity: 0.6;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					filter: grayscale(0%);
					opacity: 1;
				}
			}
		}
	}
}

//==== CTA styles=============================================================================================
.cta {
	padding: 32px 0;
	// .cta__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 48px;
		@media (min-width: $pc) {
			column-gap: 124px;
		}
	}
	// .cta__left-col
	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		@media (min-width: $pc) {
			row-gap: 24px;
			flex: none;
			max-width: 576px;
			width: 100%;
		}
	}
	// .cta__right-col
	&__right-col {
		min-width: 256px;
		flex: 1 0 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		row-gap: 8px;
		position: relative;
		@media (min-width: $pc) {
			width: calc(100% - 576px);
		}
	}
	// .cta__image-holder
	&__image-holder {
		@media (min-width: $pc) {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.button {
		// .button--s
		&--s {
			@media (min-width: $pc) {
				font-size: 16px;
				letter-spacing: 0.32px;
				padding: 16px 24px;
			}
		}
	}

	.message {
		@media (min-width: $pc) {
			position: absolute;
			top: 48px;
			right: 300px;
			max-width: 276px;
		}
		// .message__text-holder
		&__text-holder {
		}
		// .message__footer
		&__footer {
		}
		// .message__author
		&__author {
		}
		// .message__logo
		&__logo {
		}
	}
}

//==== FAQ styles=============================================================================================
.faq {
	padding: 32px 0 44px;
	@media (min-width: $pc) {
		padding: 32px 0 96px;
	}
	// .faq__container
	&__container {
	}
}

//==== Reviews styles=============================================================================================
.reviews {
	padding: 46px 0 48px;
	background: var(--Light-Background-2);
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .reviews__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .reviews__header
	&__header {
		text-align: center;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__content
	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 28px;
		@media (min-width: $pc) {
			row-gap: 32px;
		}
	}
	// .reviews__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		@media (min-width: $pc) {
			gap: 24px;
		}
	}
	// .reviews__item
	&__item {
		min-width: 256px;
		flex: 1 0 0;
		padding: 15.5px 16px;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		border-radius: 2px;
		transition: background 0.4s ease 0s;
		outline: none;
		@media (min-width: $pc) {
			padding: 32px;
		}
		&:active {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
		}
		@media (min-width: $pc) {
			border-radius: 4px;
			width: 100%;
			max-width: 376px;
			flex: none;
			@media (any-hover: hover) {
				&:hover {
					background: #fff;
					box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
				}
			}
		}
	}
	.button {
		align-self: center;
	}
}

.item-reviews {
	// .item-reviews__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 6;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// .item-reviews__name
	&__name {
	}
	// .item-reviews__link
	&__link {
		width: fit-content;
	}
}

.name-box {
	display: flex;
	align-items: center;
	gap: 8px;
	@media (min-width: $pc) {
		gap: 16px;
	}
	// .name-box__left-col
	&__left-col {
	}
	// .name-box__image-holder
	&__image-holder {
		width: 32px;
		height: 32px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
		@media (min-width: $pc) {
			width: 48px;
			height: 48px;
		}
		&--logo {
			width: 50px;
			border-radius: 666px;
			background: var(--graphite-50);
			box-shadow: 0px 0px 1.333px 0px rgba(0, 0, 0, 0.15);
			padding: 0 9px;
			@media (min-width: $pc) {
				width: 76px;
				border-radius: 999px;
				box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
			}
		}
	}
	// .name-box__right-col
	&__right-col {
	}
	// .name-box__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

//==== Media styles=============================================================================================
.media {
	padding: 48px 0;
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .media__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .media__header
	&__header {
	}
	// .media__content
	&__content {
	}
	// .media__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		row-gap: 15px;
		@media (min-width: $pc) {
			column-gap: 24px;
		}
	}
	// .media__item
	&__item {
	}
	.text-block {
		@media (min-width: $pc) {
			max-width: 724px;
		}
		// .text-block__content
		&__content {
			@media (min-width: $pc) {
				row-gap: 8px;
			}
		}
	}
}

.item-media {
	flex: 1 0 0;
	@include adaptiveValue("min-width", 392, 256, 0, 1279, 592);
	padding: 8px;
	display: flex;
	gap: 12px;
	column-gap: 14px;
	border-radius: 2px;
	transition: background 0.4s ease 0s;
	@media (min-width: $pc) {
		border-radius: 4px;
		min-width: unset;
		flex: none;
		width: calc(50% - 12px);
		gap: 24px;
		padding: 16px;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #fff;
			box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
			.item-media__left-col {
				background: var(--Light-Background-1);
			}
		}
	}

	&:active {
		background: #fff;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
		.item-media__left-col {
			background: var(--Light-Background-1);
		}
	}

	// .item-media__left-col
	&__left-col {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		border-radius: 2px;
		transition: background 0.4s ease 0s;
		@media (min-width: $pc) {
			width: 100%;
			max-width: 176px;
			padding: 13px;
			min-height: 108px;
		}
	}
	// .item-media__image-holder
	&__image-holder {
		display: flex;
		@media (min-width: $pc) {
			width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .item-media__right-col
	&__right-col {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@media (min-width: $pc) {
			row-gap: 16px;
			flex: 1 0 0;
		}
	}
	// .item-media__header
	&__header {
		display: flex;
		align-items: center;
	}
	// .item-media__date
	&__date {
		color: var(--graphite-500);
		font-size: 10px;
		line-height: 1;
		flex: 1 0 0;
		display: flex;
		align-items: center;
		span {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			align-self: stretch;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	// .item-media__badge
	&__badge {
	}
	// .item-media__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		color: var(--graphite-source);
		text-overflow: ellipsis;
		// font-size: 13px;
		// font-weight: 600;
	}
	// .item-media__link
	&__link {
		width: fit-content;
	}
}

//==== Completed styles=============================================================================================
.completed {
	padding: 48px 0 47px;
	@media (min-width: $pc) {
		padding: 96px 0;
	}
	// .completed__container
	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
		@media (min-width: $pc) {
			row-gap: 64px;
		}
	}
	// .completed__header
	&__header {
	}
	// .completed__content
	&__content {
	}
	// .completed__slider
	&__slider {
		overflow: visible;
	}
	// .completed__wrapper
	&__wrapper {
	}
	// .completed__slide
	&__slide {
	}

	.button {
		display: flex;
		margin: 16px auto 0;
		@media (min-width: $pc) {
			margin: 32px auto 0;
		}
	}

	.text-block {
		// .text-block__content
		&__content {
			@media (min-width: $pc) {
				row-gap: 8px;
			}
		}
	}
}

.slider-completed {
	// .slider-completed__nav
	&__nav {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		.swiper-button-next,
		.swiper-button-prev,
		.swiper-scrollbar {
			margin-top: 16px;
			@media (min-width: $pc) {
				margin-top: 32px;
			}
		}
	}
	// .slider-completed__scrollbar-wrapper
	&__scrollbar-wrapper {
		width: 100%;
		max-width: 656px;
		@media (min-width: $pc) {
			max-width: 1032px;
		}
	}

	.swiper-scrollbar {
		position: static;
		border-radius: 99px;
		width: 100%;
		background: rgba(44, 51, 51, 0.05);
	}
	.swiper-scrollbar-drag {
		border-radius: 2px;
		background: var(--graphite-600);
	}
}

.slide-completed {
	width: 100%;
	max-width: 294px;
	padding: 8px;
	transition: all 0.4s ease 0s;
	display: block;
	margin-right: 16px;
	@media (min-width: $pc) {
		max-width: 376px;
		margin-right: 24px;
		padding: 16px;
	}
	// .slide-completed__inner
	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@media (min-width: $pc) {
			row-gap: 16px;
		}
	}
	// .slide-completed__badge
	&__badge {
		cursor: default;
		pointer-events: none;
	}
	// .slide-completed__text-holder
	&__text-holder {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		align-self: stretch;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--graphite-source);
	}
	// .slide-completed__link
	&__link {
	}
}
